#about {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  border-top: 2px solid $darkGrey;
  overflow: hidden;

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    background-image: url("images/about-me.jpg");
    background-size: cover;
    z-index: -1;
  }

  .image {
    flex: 1;
    @extend %column-flex-settings;
    height: 100%;
    color: $white;

    h2 {
      font-size: 1.5rem;
      margin-top: 30px;
      padding: 20px;
      border: 5px solid $white;
      @include transform(skewX(-5deg));
    }

    i {
      opacity: 0;
    }

    img {
      height: 55%;
      max-width: 70%;
      border: 4px solid $black;
      border-radius: 10px;
    }
  }

  .description {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: $lightBlack;

    p {
      height: 45%;
      width: 90%;
      margin-top: 25px;
      padding: 15px;
      font-size: 0.65rem;
      line-height: 15px;
      background: $lightGrey;
      border: 2px solid $black;
      border-radius: 20px;
    }

    h2 {
      margin: 5px 0 0 0;
      font-size: 0.9rem;
      color: $white;
      text-decoration: underline;
    }

    ul {
      width: 90%;
      margin-top: 10px;
      list-style-type: none;

      li {
        display: inline-block;
        margin: 1px -1px;
        padding: 3px;
        font-size: 0.85rem;
        color: $black;
        background: $white;
        border: 0.25px solid $lightBlack;
      }
    }
  }
}

// -----------------Media Queries------------------------
@media only screen and (max-height: 475px) {
  #about {
    .image {
      h2 {
        font-size: 1.15rem;
        padding: 10px;
        border: 3px solid $white;
      }

      i {
        display: none;
      }

      img {
        height: 70%;
        margin-top: 7.5px;
        border: 2px solid $black;
      }
    }

    .description {
      p {
        max-height: 45%;
        min-height: 40%;
        margin-top: 30px;
        padding: 10px;
        font-size: 0.65rem;
        line-height: 15px;
        overflow: scroll;
      }

      h2 {
        font-size: 0.7rem;
      }

      ul {
        li {
          padding: 3px;
          font-size: 0.65rem;
          border: 0.25px solid $lightBlack;
        }
      }
    }
  }
}

@media only screen and (max-height: 400px) {
  #about {
    .description {
      ul {
        li {
          font-size: 0.5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  #about {
    .description {
      p {
        font-size: 0.85rem;
        line-height: 20px;
      }

      h2 {
        margin: 20px 0 0 0;
        font-size: 1.25rem;
      }

      ul {
        margin-top: 10px;

        li {
          margin: 1px -1px;
          padding: 2.55px;
          font-size: 1rem;
          border: 1px solid $lightBlack;
        }
      }
    }
  }
}

@media only screen and (min-width: 650px) {
  #about {
    .description {
      p {
        font-size: 1rem;
        line-height: 22.5px;
      }
    }
  }
}

@media only screen and (min-width: 830px) {
  #about {
    flex-direction: row;

    .image {
      h2 {
        font-size: 3rem;
      }

      i {
        opacity: 1;
        margin: 20px 0;
        font-size: 4rem;
        @include transform(skewX(2.5deg));
      }

      img {
        height: 25%;
        width: 85%;
      }
    }

    .description {
      justify-content: center;
      p {
        height: 40%;
        width: 95%;
        font-size: 1.15rem;
        line-height: 25px;
      }

      ul {
        width: 80%;
        li {
          padding: 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  #about {
    .image {
      h2 {
        font-size: 3.5rem;
      }

      i {
        font-size: 4.5rem;
      }

      img {
        width: 85%;
      }
    }

    .description {
      p {
        font-size: 1.15rem;
        line-height: 25px;
      }
    }
  }
}

@media only screen and (min-width: 1100px) {
  #about {
    .image {
      img {
        height: 30%;
      }
    }

    .description {
      p {
        font-size: 1.2rem;
        line-height: 30px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  #about {
    .image {
      h2 {
        font-size: 4rem;
      }

      i {
        font-size: 6rem;
      }

      img {
        height: 35%;
        width: 95%;
      }
    }

    .description {
      p {
        height: 35%;
        font-size: 1.25rem;
      }

      ul {
        li {
          padding: 15px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  #about {
    .image {
      img {
        height: 42.5%;
      }
    }
  }
}
