#about {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  border-top: 2px solid $darkGrey;
  overflow: hidden;

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    background-image: url("images/about-me.jpg");
    background-size: cover;
    z-index: -1;
  }

  .image {
    flex: 1;
    @extend %column-flex-settings;
    height: 100%;
    color: $white;

    h2 {
      font-size: 1.5rem;
      margin-top: 30px;
      padding: 20px;
      border: 5px solid $white;
      @include transform(skewX(-5deg));
    }

    i {
      opacity: 0;
    }

    img {
      height: 55%;
      max-width: 70%;
      border: 4px solid $black;
      border-radius: 10px;
    }
  }

  .description {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: $lightBlack;

    #list {
      width: 90%;
      margin-top: 10px;
      list-style-type: none;
      background: $white;
      border: 3px solid $black;
      border-radius: 5px;
      overflow: hidden;

      li {
        display: block;
        padding: 4px;
        margin: 5px 0;
        font-size: 0.95rem;
        font-weight: bold;
        color: $black;

        &:before {
          content: ">";
          margin: 0 2px;
        }
      }
    }

    #paragraph {
      height: 45%;
      width: 90%;
      margin-top: 25px;
      padding: 15px;
      font-size: 0.9rem;
      line-height: 15px;
      background: $lightGrey;
      border: 2px solid $black;
      border-radius: 20px;
      display: none;
    }

    h2 {
      margin: 5px 0 0 0;
      font-size: 0.9rem;
      color: $white;
      text-decoration: underline;
    }

    #skills {
      width: 90%;
      margin-top: 10px;
      list-style-type: none;

      li {
        display: inline-block;
        margin: 1px -1px;
        padding: 3.5px;
        font-size: 0.85rem;
        color: $black;
        background: $white;
        border: 0.25px solid $lightBlack;
      }
    }
  }
}

// -----------------Media Queries------------------------
@media only screen and (max-height: 680px) {
  #about {
    .description {
      #list {
        li {
          padding: 3px;
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media only screen and (max-height: 620px) {
  #about {
    .description {
      #list {
        li {
          padding: 2.5px;
        }
      }

      #skills {
        li {
          padding: 3px;
          font-size: 0.7rem;
        }
      }
    }
  }
}

@media only screen and (max-height: 540px) {
  #about {
    .description {
      #list {
        li {
          padding: 2.5px;
          font-size: 0.7rem;
        }
      }
    }
  }
}

@media only screen and (max-height: 490px) {
  #about {
    .image {
      h2 {
        font-size: 1.15rem;
        padding: 10px;
        border: 3px solid $white;
      }

      img {
        border: 2px solid $black;
      }
    }

    .description {
      h2 {
        font-size: 0.7rem;
      }

      #skills {
        li {
          font-size: 0.65rem;
        }
      }
    }
  }
}

@media only screen and (max-height: 465px) {
  #about {
    .description {
      flex: 1.5;

      #list {
        width: 80%;

        li {
          padding: 2.5px;
          font-size: 0.65rem;
        }
      }
    }
  }
}

@media only screen and (max-height: 430px) {
  #about {
    .image {
      img {
        height: 65%;
      }
    }

    .description {
      #list {
        margin-top: 20px;

        li {
          padding: 2px;
          font-size: 0.6rem;
        }
      }
    }
  }
}

@media only screen and (max-height: 400px) {
  #about {
    .description {
      #list {
        margin-top: 25px;

        li {
          padding: 2px;
          font-size: 0.55rem;
        }
      }

      #skills {
        li {
          font-size: 0.5rem;
        }
      }
    }
  }
}

@media only screen and (max-height: 380px) {
  #about {
    .description {
      #list {
        margin-top: 25px;

        li {
          padding: 2px;
          font-size: 0.5rem;
        }
      }
    }
  }
}

@media only screen and (max-height: 340px) {
  #about {
    .description {
      #list {
        width: 60%;

        margin-top: 30px;

        li {
          padding: 1px;
          font-size: 0.45rem;
        }
      }

      #skills {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  #about {
    .description {
      h2 {
        margin: 2.5px 0 0 0;
        font-size: 1.25rem;
      }

      #skills {
        margin-top: 10px;

        li {
          margin: 1px -1px;
          padding: 2.55px;
          font-size: 1rem;
          border: 1px solid $lightBlack;
        }
      }
    }
  }
}

@media only screen and (min-height: 690px) {
  #about {
    .image {
      img {
        height: 52.5%;
      }
    }
  }
}

@media only screen and (min-width: 620px) {
  #about {
    .description {
      #list {
        display: none;
      }

      #paragraph {
        display: block;
        font-size: 0.8rem;
        line-height: 22.5px;
      }

      h2 {
        margin: 7.5px 0 0 0;
        font-size: 1.25rem;
      }
    }
  }
}

@media only screen and (min-height: 900px) and (max-height: 1100px) {
  #about {
    .image {
      h2 {
        font-size: 2.5rem;
        margin-top: 30px;
        padding: 25px;
        border: 5px solid $white;
      }

      img {
        height: 60%;
      }
    }

    .description {
      flex: 1.5;

      #paragraph {
        font-size: 1.5rem;
        line-height: 30px;
      }

      h2 {
        font-size: 2.5rem;
      }

      #skills {
        margin-top: 10px;

        li {
          margin: 1.5px 1px;
          padding: 5px;
          font-size: 1.75rem;
          border: 1px solid $lightBlack;
        }
      }
    }
  }
}

@media only screen and (min-width: 770px) {
  #about {
    .description {
      #paragraph {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 830px) {
  #about {
    flex-direction: row;

    .image {
      h2 {
        font-size: 3rem;
      }

      i {
        opacity: 1;
        margin: 20px 0;
        font-size: 4rem;
        @include transform(skewX(2.5deg));
      }

      img {
        height: 30%;
        width: 95%;
      }
    }

    .description {
      flex: 1.5;
      justify-content: center;

      #paragraph {
        height: 40%;
        width: 95%;
        line-height: 25px;
      }

      #skills {
        width: 80%;
        li {
          padding: 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  #about {
    .description {
      #paragraph {
        padding: 12.5px;
        font-size: 1.15rem;
        line-height: 27.5px;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  #about {
    .image {
      h2 {
        font-size: 3.5rem;
      }

      i {
        font-size: 4.5rem;
      }

      img {
        height: 40%;
      }
    }

    .description {
      #paragraph {
        font-size: 1.25rem;
        line-height: 27.5px;
      }
    }
  }
}

@media only screen and (min-height: 750px) and (max-height: 899px) {
  #about {
    .image {
      img {
        height: 30%;
      }
    }

    .description {
      #paragraph {
        line-height: 32.5px;
      }
    }
  }
}

@media only screen and (min-width: 1100px) {
  #about {
    .description {
      #paragraph {
        font-size: 1.2rem;
        line-height: 30px;
      }
    }
  }
}

@media only screen and (min-width: 1180px) {
  #about {
    .description {
      #paragraph {
        font-size: 1.25rem;
      }
    }
  }
}

@media only screen and (min-width: 1230px) {
  #about {
    .image {
      h2 {
        font-size: 4rem;
      }

      i {
        font-size: 6rem;
      }
    }

    .description {
      #paragraph {
        line-height: 35px;
      }

      #skills {
        li {
          padding: 15px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  #about {
    .image {
      img {
        height: 42.5%;
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (min-height: 600px) {
  #about {
    .description {
      #paragraph {
        font-size: 1.25rem;
        line-height: 39.5px;
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (min-height: 695px) {
  #about {
    .description {
      #paragraph {
        font-size: 1.5rem;
      }

      #skills {
        li {
          font-size: 1.25rem;
        }
      }
    }
  }
}
