#footer {
  @extend %column-flex-settings;
  justify-content: center;
  position: relative;
  height: 15vh;
  color: $white;
  background: $lightBlack;
  border-top: 1px solid $darkGrey;
  overflow: hidden;

  h3 {
    font-size: 1rem;
  }
  h5 {
    margin-top: 12.5px;
    font-size: 0.75rem;

    a {
      color: $blue;
      text-decoration: none;

      &:hover {
        color: $lightBlue;
      }
    }
  }
}

// -----------------Media Queries------------------------
@media only screen and (max-height: 350px) {
  #footer {
    h3 {
      font-size: 0.8rem;
    }

    h5 {
      margin-top: 5px;
      font-size: 0.6rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  #footer {
    h3 {
      font-size: 1.25rem;
    }

    h5 {
      font-size: 1rem;
    }
  }
}
