/*General Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px "Lato", sans-serif;
  color: #555;
  background: black;
  scroll-behavior: smooth;
}

#portfolio > div {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}
