#landing {
  height: 100vh;
  width: 100%;
  @extend %column-flex-settings;

  #nav {
    height: 55%;
    width: 100%;
    order: 2;
    overflow: hidden;
  }

  #landing-content {
    height: 45%;
    width: 100%;
    order: 1;
    overflow: hidden;
  }

  .background-image {
    opacity: 0.85;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: url("images/landing.jpg");
    background-size: cover;
    z-index: -1;
    overflow: hidden;
  }
}

// -----------Media Queries--------------
@media only screen and (min-width: 768px) {
  #landing {
    #nav {
      height: 20%;
      order: 1;
    }

    #landing-content {
      height: 80%;
      order: 2;
    }
  }
}

// ---------Partials-------------

@import "nav";

@import "landing-content";
