#landing {
  max-height: 100vh;
  max-width: 100vw;
  @extend %column-flex-settings;
  overflow: hidden;

  #nav {
    max-height: 55vh;
    width: 100vw;
    order: 2;
    overflow: hidden;
  }

  #landing-content {
    max-height: 45vh;
    width: 100vw;
    order: 1;
    overflow: hidden;
  }
}

// -----------Media Queries--------------
@media only screen and (min-width: 768px) {
  #landing {
    #nav {
      max-height: 20vh;
      order: 1;
    }

    #landing-content {
      max-height: 80vh;
      order: 2;
    }
  }
}

// ---------Partials-------------

@import "nav";

@import "landing-content";
