#landing-content {
  @extend %column-flex-settings;
  justify-content: flex-end;

  h2 {
    margin: none;
    color: white;
    font-size: 1.5rem;
    text-align: center;
  }

  #social-media {
    @extend %default-flex-settings;
    height: 40%;
    width: 100%;
    margin: 20px 0;

    a {
      margin: 0 7.5px;

      i {
        padding: 20px;
        color: $white;
        font-size: 1.5rem;
        border: 2px solid $white;
        border-radius: 45px;
        transition: all 0.25s;

        &:hover {
          font-size: 2rem;
        }
      }

      .fa-linkedin-in {
        background: $linkedinBlue;

        &:hover {
          background: $white;
          color: $linkedinBlue;
          border-color: $linkedinBlue;
        }
      }

      .fa-facebook-f {
        background: $facebookBlue;
        padding: 20px 27.5px;

        &:hover {
          background: $white;
          color: $facebookBlue;
          border-color: $facebookBlue;
        }
      }

      .fa-github {
        background: $githubGrey;

        &:hover {
          background: $white;
          color: $githubGrey;
          border-color: $githubGrey;
        }
      }

      .fa-envelope {
        background: $gmailRed;

        &:hover {
          background: $white;
          color: $gmailRed;
          border-color: $gmailRed;
        }
      }
    }
  }
}

// -----------------Media Queries------------------------
@media only screen and (max-height: 400px) {
  #landing-content {
    h2 {
      font-size: 1.25rem;
    }

    #social-media {
      a {
        i {
          padding: 15px;
          font-size: 1.25rem;
          border: 1px solid $white;

          &:hover {
            font-size: 1.75rem;
          }
        }

        .fa-facebook-f {
          padding: 15px 22.5px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #landing-content {
    justify-content: center;

    h2 {
      font-size: 2rem;
    }

    #social-media {
      a {
        i {
          font-size: 1.75rem;

          &:hover {
            font-size: 2.25rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  #landing-content {
    h2 {
      font-size: 2.5rem;
    }

    #social-media {
      a {
        i {
          font-size: 2rem;

          &:hover {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  #landing-content {
    h2 {
      font-size: 3rem;
    }

    #social-media {
      a {
        i {
          font-size: 2.25rem;

          &:hover {
            font-size: 2.75rem;
          }
        }
      }
    }
  }
}
