#projects {
  height: 100vh;
  background: black;
  border-top: 2px solid rgb(92, 92, 92);
  overflow: hidden;

  .grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 5px;

    .grid-item {
      @extend %column-flex-settings;
      display: none;
      color: white;

      .project-options {
        @extend %default-flex-settings;
        height: 15%;
        width: 100%;
        margin-top: 30px;

        a {
          height: 100%;
          width: 40%;
          margin: 0 7.5px;

          button {
            height: 70%;
            width: 100%;
            font-size: 1rem;
            border: 1px solid rgb(9, 9, 245);
            border-radius: 7.5px;
            transition: all 0.3s;
            outline: none;

            &:hover {
              color: white;
              background: rgb(47, 131, 228);
              cursor: pointer;
            }
          }
        }
      }
    }

    .grid-item:nth-child(1) {
      display: flex;
      background-image: url("images/todolist.jpg");
      background-size: cover;

      h3 {
        margin-bottom: 10px;
        padding: 10px;
        font-size: 1.5rem;
        color: white;
        background: red;
        border: 2px solid black;
        border-radius: 25px;
      }

      h2 {
        margin-bottom: 15px;
        font-size: 2rem;
      }

      p {
        font-size: 1.25rem;
      }
    }

    .grid-item:nth-child(2) {
      background-image: url("images/landing.jpg");
      background-size: cover;
    }

    .grid-item:nth-child(3) {
      background-image: url("images/landing.jpg");
      background-size: cover;
    }

    .grid-item:nth-child(4) {
      background-image: url("images/landing.jpg");
      background-size: cover;
    }
  }
}

// -----------------Media Queries------------------------
@media only screen and (min-width: 768px) {
  #projects {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;

      .grid-item {
        display: flex;

        .project-options {
          a {
            width: 20%;

            button {
              height: 60%;
            }
          }
        }
      }

      .grid-item:nth-child(1) {
        grid-column: 1/3;
        grid-row: 1/4;

        h3 {
          font-size: 1.75rem;
        }

        h2 {
          font-size: 3rem;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}
