// -----------------Mixins---------------------------
@mixin transform($property) {
  webkit-transform: $property;
  ms-transform: $property;
  transform: $property;
}

// -----------------Variables---------------------------
$black: black;
$lightBlack: rgb(27, 27, 27);
$grey: rgb(177, 176, 176);
$red: red;
$lightGrey: rgb(235, 234, 234);
$darkGrey: rgb(92, 92, 92);
$white: white;
$violet: rgb(75, 77, 238);
$lightBlue: rgb(0, 162, 255);
$blue: rgb(0, 128, 248);
$buttonBlue: rgb(28, 125, 236);
$darkBlue: rgb(3, 111, 235);
$linkedinBlue: #007bb6;
$facebookBlue: #3b5998;
$githubGrey: #444;
$gmailRed: #c71610;

// -----------------Extensions---------------------------
%default-flex-settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

%column-flex-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*-----------Partials-------------*/
@import "general";

@import "landing";

@import "about";

@import "projects";

@import "contact";

@import "footer";
