// -----------------Mixins---------------------------
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

// -----------------Variables---------------------------
$green: #4caf50;

// -----------------Extensions---------------------------
%default-flex-settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

%column-flex-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-----------Partials-------------*/
@import "general";

@import "nav";

@import "landing";

@import "about";

@import "projects";

@import "contact";

@import "footer";
