#landing-content #social-media, #projects .grid .grid-item .project-options, #contact, #contact form .header {
  display: flex;
  justify-content: center;
  align-items: center; }

#landing, #nav, #nav .nav-items, #landing-content, #about .image, #projects .grid .grid-item, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/*-----------Partials-------------*/
/*General Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font: normal 16px "Lato", sans-serif;
  color: #555;
  background: black;
  scroll-behavior: smooth; }

@media only screen and (min-width: 1200px) {
  font-size: 16px; }
#landing {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden; }
  #landing #nav {
    height: 55vh;
    width: 100vw;
    order: 2;
    overflow: hidden; }
  #landing #landing-content {
    height: 45vh;
    width: 100vw;
    order: 1;
    overflow: hidden; }

@media only screen and (min-width: 768px) {
  #landing #nav {
    height: 20vh;
    order: 1; }
  #landing #landing-content {
    height: 80vh;
    order: 2; } }
#nav {
  justify-content: flex-start;
  background: transparent;
  overflow: hidden; }
  #nav .nav-collapse {
    background: #b1b0b0;
    border: 2px solid black;
    border-radius: 10px; }
    #nav .nav-collapse:focus {
      outline: none; }
    #nav .nav-collapse:active {
      border: 1px solid black; }
    #nav .nav-collapse i {
      font-size: 2rem;
      padding: 20px 30px; }
      #nav .nav-collapse i:hover {
        cursor: pointer; }
  #nav .nav-items {
    height: 62.5%;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 2.5px;
    background: black;
    border-radius: 5px; }
    #nav .nav-items a {
      margin: 5px 0;
      font-size: 1.5rem;
      color: white;
      text-decoration: none; }
      #nav .nav-items a:hover {
        color: #00a2ff;
        font-size: 1.75rem; }
      #nav .nav-items a i {
        margin: 0 2.5px; }
  #nav .hide {
    opacity: 0;
    transition: 0.5s opacity linear 0.25s; }
  #nav .show {
    opacity: 1;
    transition: 0.75s opacity ease-in-out 0.25s; }

@media only screen and (max-height: 600px) {
  #nav .nav-items {
    width: 70%; }
    #nav .nav-items a {
      font-size: 1.25rem; }
      #nav .nav-items a:hover {
        font-size: 1.5rem; } }
@media only screen and (max-height: 480px) {
  #nav .nav-collapse i {
    font-size: 1rem;
    padding: 12.5px 22.5px; }
  #nav .nav-items a {
    font-size: 1rem;
    margin: 3.5px 0; }
    #nav .nav-items a:hover {
      font-size: 1.25rem; } }
@media only screen and (max-height: 380px) {
  #nav .nav-items a {
    font-size: 0.8rem;
    margin: 3px 0; }
    #nav .nav-items a:hover {
      font-size: 1rem; } }
@media only screen and (max-height: 300px) {
  #nav .nav-items {
    width: 50%; }
    #nav .nav-items a {
      font-size: 0.6rem;
      margin: 2px 0; }
      #nav .nav-items a:hover {
        font-size: 0.8rem; } }
@media only screen and (min-width: 768px) {
  #nav {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; }
    #nav .nav-collapse {
      display: none; }
    #nav .nav-items {
      flex-direction: row;
      align-items: flex-end;
      height: 100%;
      width: 100%;
      margin: 0;
      background: transparent; }
      #nav .nav-items a {
        display: block;
        position: relative;
        margin: 0px 10px;
        padding: 10px 10px;
        cursor: pointer; }
        #nav .nav-items a:hover {
          color: white;
          font-size: 1.5rem; }
      #nav .nav-items a:before,
      #nav .nav-items a:after {
        opacity: 0;
        position: absolute;
        height: 2px;
        width: 0%;
        background: white;
        transition: all 0.3s;
        content: ""; }
      #nav .nav-items a:before {
        left: 0px;
        top: 0px; }
      #nav .nav-items a:after {
        right: 0px;
        bottom: 0px; }
      #nav .nav-items a:hover:before,
      #nav .nav-items a:hover:after {
        opacity: 1;
        width: 100%; }
    #nav .hide {
      opacity: 1; }
    #nav .show {
      transition: none; } }
@media only screen and (min-width: 992px) {
  #nav .nav-items a {
    font-size: 1.75rem; }
    #nav .nav-items a:hover {
      font-size: 1.75rem; } }
@media only screen and (min-width: 1200px) {
  #nav .nav-items a {
    font-size: 2rem; }
    #nav .nav-items a:hover {
      font-size: 2rem; } }
#landing-content {
  justify-content: flex-end; }
  #landing-content .background-image {
    opacity: 0.85;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("images/landing.jpg");
    background-size: cover;
    z-index: -1; }
  #landing-content h2 {
    margin: none;
    color: white;
    font-size: 1.5rem;
    text-align: center; }
  #landing-content #social-media {
    height: 20vh;
    width: 20vw;
    margin: 20px 0; }
    #landing-content #social-media a {
      margin: 0 7.5px; }
      #landing-content #social-media a i {
        padding: 20px;
        color: white;
        font-size: 1.5rem;
        border: 2px solid white;
        border-radius: 45px;
        transition: all 0.25s; }
        #landing-content #social-media a i:hover {
          font-size: 2rem; }
      #landing-content #social-media a .fa-linkedin-in {
        background: #007bb6; }
        #landing-content #social-media a .fa-linkedin-in:hover {
          background: white;
          color: #007bb6;
          border-color: #007bb6; }
      #landing-content #social-media a .fa-facebook-f {
        background: #3b5998;
        padding: 20px 27.5px; }
        #landing-content #social-media a .fa-facebook-f:hover {
          background: white;
          color: #3b5998;
          border-color: #3b5998; }
      #landing-content #social-media a .fa-github {
        background: #444; }
        #landing-content #social-media a .fa-github:hover {
          background: white;
          color: #444;
          border-color: #444; }
      #landing-content #social-media a .fa-envelope {
        background: #c71610; }
        #landing-content #social-media a .fa-envelope:hover {
          background: white;
          color: #c71610;
          border-color: #c71610; }

@media only screen and (max-height: 400px) {
  #landing-content h2 {
    font-size: 1.25rem; }
  #landing-content #social-media a i {
    padding: 15px;
    font-size: 1.25rem;
    border: 1px solid white; }
    #landing-content #social-media a i:hover {
      font-size: 1.75rem; }
  #landing-content #social-media a .fa-facebook-f {
    padding: 15px 22.5px; } }
@media only screen and (min-width: 768px) {
  #landing-content {
    justify-content: center; }
    #landing-content h2 {
      font-size: 2rem; }
    #landing-content #social-media a i {
      font-size: 1.75rem; }
      #landing-content #social-media a i:hover {
        font-size: 2.25rem; } }
@media only screen and (min-width: 992px) {
  #landing-content h2 {
    font-size: 2.5rem; }
  #landing-content #social-media a i {
    font-size: 2rem; }
    #landing-content #social-media a i:hover {
      font-size: 2.5rem; } }
@media only screen and (min-width: 1200px) {
  #landing-content h2 {
    font-size: 3rem; }
  #landing-content #social-media a i {
    font-size: 2.25rem; }
    #landing-content #social-media a i:hover {
      font-size: 2.75rem; } }
#about {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 100vh;
  min-height: 100vh;
  border-top: 2px solid #5c5c5c;
  overflow: hidden; }
  #about .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    background-image: url("images/about-me.jpg");
    background-size: cover;
    z-index: -1; }
  #about .image {
    flex: 1;
    height: 100%;
    color: white; }
    #about .image h2 {
      font-size: 1.5rem;
      margin-top: 30px;
      padding: 20px;
      border: 5px solid white;
      webkit-transform: skewX(-5deg);
      ms-transform: skewX(-5deg);
      transform: skewX(-5deg); }
    #about .image i {
      opacity: 0; }
    #about .image img {
      height: 55%;
      max-width: 70%;
      border: 4px solid black;
      border-radius: 10px; }
  #about .description {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: #1b1b1b; }
    #about .description p {
      height: 45%;
      width: 90%;
      margin-top: 25px;
      padding: 15px;
      font-size: 0.9rem;
      line-height: 15px;
      background: #ebeaea;
      border: 2px solid black;
      border-radius: 20px; }
    #about .description h2 {
      margin: 5px 0 0 0;
      font-size: 0.9rem;
      color: white;
      text-decoration: underline; }
    #about .description ul {
      width: 90%;
      margin-top: 10px;
      list-style-type: none; }
      #about .description ul li {
        display: inline-block;
        margin: 1px -1px;
        padding: 3px;
        font-size: 0.85rem;
        color: black;
        background: white;
        border: 0.25px solid #1b1b1b; }

@media only screen and (max-height: 690px) {
  #about .description p {
    font-size: 0.85rem;
    line-height: 15px; } }
@media only screen and (max-height: 600px) {
  #about .description p {
    font-size: 0.65rem;
    line-height: 15px; } }
@media only screen and (max-height: 475px) {
  #about .image h2 {
    font-size: 1.15rem;
    padding: 10px;
    border: 3px solid white; }
  #about .image i {
    display: none; }
  #about .image img {
    height: 70%;
    margin-top: 7.5px;
    border: 2px solid black; }
  #about .description p {
    max-height: 45%;
    min-height: 40%;
    margin-top: 30px;
    padding: 10px;
    overflow: scroll; }
  #about .description h2 {
    font-size: 0.7rem; }
  #about .description ul li {
    padding: 3px;
    font-size: 0.65rem;
    border: 0.25px solid #1b1b1b; } }
@media only screen and (max-height: 400px) {
  #about .description ul li {
    font-size: 0.5rem; } }
@media only screen and (min-width: 500px) {
  #about .description p {
    font-size: 0.85rem;
    line-height: 20px; }
  #about .description h2 {
    margin: 20px 0 0 0;
    font-size: 1.25rem; }
  #about .description ul {
    margin-top: 10px; }
    #about .description ul li {
      margin: 1px -1px;
      padding: 2.55px;
      font-size: 1rem;
      border: 1px solid #1b1b1b; } }
@media only screen and (min-width: 650px) {
  #about .description p {
    font-size: 1rem;
    line-height: 22.5px; } }
@media only screen and (min-width: 830px) {
  #about {
    flex-direction: row; }
    #about .image h2 {
      font-size: 3rem; }
    #about .image i {
      opacity: 1;
      margin: 20px 0;
      font-size: 4rem;
      webkit-transform: skewX(2.5deg);
      ms-transform: skewX(2.5deg);
      transform: skewX(2.5deg); }
    #about .image img {
      height: 25%;
      width: 85%; }
    #about .description {
      justify-content: center; }
      #about .description p {
        height: 40%;
        width: 95%; }
      #about .description ul {
        width: 80%; }
        #about .description ul li {
          padding: 10px; } }
@media only screen and (min-width: 992px) {
  #about .image h2 {
    font-size: 3.5rem; }
  #about .image i {
    font-size: 4.5rem; }
  #about .image img {
    width: 85%; }
  #about .description p {
    font-size: 1.15rem;
    line-height: 25px; } }
@media only screen and (min-width: 1100px) {
  #about .image img {
    height: 30%; }
  #about .description p {
    font-size: 1.2rem;
    line-height: 30px; } }
@media only screen and (min-width: 1200px) {
  #about .image h2 {
    font-size: 4rem; }
  #about .image i {
    font-size: 6rem; }
  #about .image img {
    height: 35%;
    width: 95%; }
  #about .description p {
    height: 35%;
    font-size: 1.25rem; }
  #about .description ul li {
    padding: 15px; } }
@media only screen and (min-width: 1400px) {
  #about .image img {
    height: 42.5%; } }
#projects {
  height: 100vh;
  background: black;
  border-top: 2px solid #5c5c5c;
  overflow: hidden; }
  #projects .grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 5px; }
    #projects .grid .grid-item {
      display: none;
      color: white; }
      #projects .grid .grid-item .project-options {
        height: 15%;
        width: 100%;
        margin-top: 30px; }
        #projects .grid .grid-item .project-options a {
          height: 100%;
          width: 40%;
          margin: 0 7.5px; }
          #projects .grid .grid-item .project-options a button {
            height: 70%;
            width: 100%;
            font-size: 1rem;
            border: 1px solid black;
            border-radius: 7.5px;
            transition: all 0.3s;
            outline: none; }
            #projects .grid .grid-item .project-options a button:hover {
              color: white;
              background: #1c7dec;
              cursor: pointer; }
    #projects .grid .grid-item:nth-child(1) {
      display: flex;
      background-image: url("images/todolist.jpg");
      background-size: cover; }
      #projects .grid .grid-item:nth-child(1) h3 {
        margin-bottom: 10px;
        padding: 10px;
        font-size: 1.5rem;
        color: white;
        background: red;
        border: 2px solid black;
        border-radius: 25px; }
      #projects .grid .grid-item:nth-child(1) h2 {
        margin-bottom: 15px;
        font-size: 2rem; }
      #projects .grid .grid-item:nth-child(1) p {
        font-size: 1.25rem; }
    #projects .grid .grid-item:nth-child(2) {
      background-image: url("images/landing.jpg");
      background-size: cover; }
    #projects .grid .grid-item:nth-child(3) {
      background-image: url("images/landing.jpg");
      background-size: cover; }
    #projects .grid .grid-item:nth-child(4) {
      background-image: url("images/landing.jpg");
      background-size: cover; }

@media only screen and (min-width: 768px) {
  #projects .grid {
    grid-template-columns: 1fr 1fr 1fr; }
    #projects .grid .grid-item {
      display: flex; }
      #projects .grid .grid-item .project-options a {
        width: 20%; }
        #projects .grid .grid-item .project-options a button {
          height: 60%; }
    #projects .grid .grid-item:nth-child(1) {
      grid-column: 1/3;
      grid-row: 1/4; }
      #projects .grid .grid-item:nth-child(1) h3 {
        font-size: 1.75rem; }
      #projects .grid .grid-item:nth-child(1) h2 {
        font-size: 3rem; }
      #projects .grid .grid-item:nth-child(1) p {
        font-size: 1.5rem; } }
#contact {
  position: relative;
  height: 85vh;
  border-top: 2px solid #5c5c5c; }
  #contact .background-image {
    opacity: 0.65;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("images/meeting.jpg");
    background-size: cover;
    z-index: -1; }
  #contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 80%; }
    #contact form .header {
      height: 15%;
      width: 100%; }
      #contact form .header h2 {
        margin: 0;
        font-size: 1.5rem;
        color: white;
        text-decoration: underline; }
      #contact form .header i {
        margin: 10px 0 0 10px;
        font-size: 2.25rem;
        color: white; }
        #contact form .header i:hover {
          color: #0080f8;
          cursor: pointer; }
    #contact form input {
      display: block;
      height: 8.5%;
      width: 80%;
      margin: 10px 0;
      padding: 15px 5px;
      font-size: 1rem;
      border: 2px solid #1b1b1b; }
      #contact form input:focus {
        border: 4px solid #1b1b1b;
        outline: none; }
    #contact form textarea {
      height: 30%;
      width: 100%;
      padding: 5px;
      font-size: 1rem;
      border: 2px solid #1b1b1b; }
      #contact form textarea:focus {
        border: 4px solid #1b1b1b;
        outline: none; }
    #contact form button {
      height: 7.5%;
      width: 35%;
      margin: 7.5px 0;
      font-size: 1rem;
      color: white;
      background: #1c7dec;
      border-radius: 5px; }
      #contact form button:focus {
        outline: none; }
      #contact form button:hover {
        background: #036feb;
        cursor: pointer; }

@media only screen and (max-height: 380px) {
  #contact form .header h2 {
    font-size: 1.25rem; }
  #contact form .header i {
    margin: 0 0 0 5px;
    font-size: 1.5rem; }
  #contact form input {
    height: 5%;
    width: 60%; }
    #contact form input:focus {
      border: 2px solid #1b1b1b; }
  #contact form textarea {
    height: 30%; }
    #contact form textarea:focus {
      border: 2px solid #1b1b1b; }
  #contact form button {
    height: 15%;
    font-size: 0.75rem; } }
@media only screen and (min-width: 992px) {
  #contact form input {
    height: 10%;
    width: 60%; }
  #contact form textarea {
    height: 32.5%;
    width: 80%; }
  #contact form button {
    height: 12.5%;
    width: 30%; } }
@media only screen and (min-width: 1200px) {
  #contact form .header h2 {
    font-size: 1.75rem; }
  #contact form .header i {
    font-size: 3rem; }
  #contact form input {
    width: 35%; }
  #contact form textarea {
    height: 35%;
    width: 65%; }
  #contact form button {
    width: 20%; } }
footer {
  justify-content: center;
  position: relative;
  height: 15vh;
  color: white;
  background: #1b1b1b;
  border-top: 1px solid #5c5c5c;
  overflow: hidden; }
  footer h3 {
    font-size: 1rem; }
  footer h5 {
    margin-top: 12.5px;
    font-size: 0.75rem; }
    footer h5 a {
      color: #4b4dee;
      text-decoration: none; }
      footer h5 a:hover {
        color: #00a2ff; }

@media only screen and (max-height: 350px) {
  footer h3 {
    font-size: 0.8rem; }
  footer h5 {
    margin-top: 5px;
    font-size: 0.6rem; } }
@media only screen and (min-width: 768px) {
  footer h3 {
    font-size: 1.25rem; }
  footer h5 {
    font-size: 1rem; } }

/*# sourceMappingURL=portfolio.css.map */
